pipeline/Append_Variable_And_Validation.json
{
	"name": "Append_Variable_And_Validation",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Count_of_ChildItems",
					"value": {
						"value": "@length(activity('Get Metadata1').output.childItems)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"timeout": "7.00:00:00",
					"sleep": 10,
					"childItems": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Last_Mod",
					"value": {
						"value": "@activity('Get Metadata1').output.lastModified",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Count_of_ChildItems": {
				"type": "Array"
			},
			"Last_Mod": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-08-14T08:27:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}